@import url('https://fonts.googleapis.com/css?family=Yeseva+One|PT+Sans|Pacifico|PT+Serif|Molle:400i|BioRhyme&display=swap');

/* @import url('https://raw.githubusercontent.com/march08/animated-burgers/master/packages/BurgerSqueeze/styles.scss');
@import url('https://raw.githubusercontent.com/march08/animated-burgers/master/packages/Burger/styles.scss'); */

@import url('burger-styles.css');
:root {
    --pink1: #ff55eebf;
    --pink2: #ff00ba;
    --pink3: #ffcce8;
    --purple1: #9800ff;
    --purple2: #6600aa;
    --purple3: #ddaaff;
    --blue1: #55eeffb3;
    --blue2: #666ccc;
    --blue3: #0027ff;
    --mint1: #aaffdd;
    --mint2: #55ffbb;
    --lime1: #99ff55;
    --lime2: #12ff00;
    --sage1: #44aa00;
    --hunter1: #005533;
    --gold1: #ffd800;
    --yellow1: #fff433;
    --yellow2: #fff999;
    --orange1: #ff8f33;
}

body {
    font-family: 'PT Sans', Calibri, Verdana, sans-serif;
    background-color: var(--yellow1);
    padding: 0%;
    background-image: url('../images/strawberries.png');
    /* background-size: 90vh; */
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    padding: 1em 2em;
    background-color: rgba(245, 245, 245, 0.68);
    margin: 0%;
}

header {
    text-align: center;
    padding-bottom: 2em;
}

header * {
    text-shadow: var(--yellow1) 1px 1px 1px, var(--yellow1) -1px 1px 1px, var(--yellow1) 1px -1px 1px, var(--yellow1) -1px -1px 1px, var(--yellow1) 0px 0px 2px;
}


/* further down the list are backup font families */

h2 {
    font-family: 'Yeseva One', Cambria, 'Bookman Old Style', serif;
    font-size: 2em;
}

h1 {
    font-family: BioRhyme, Cambria, 'Bookman Old Style', serif;
    font-size: 4em;
    margin: 0px;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    font-weight: 100;
}

h4 {
    /* font-weight: 100; */
    /* font-family: 'PT Serif', Cambria, 'Bookman Old Style', serif; */
    font-size: 1.25em;
    /* font-style: italic; */
}

#food-menu>* {
    display: flex;
    flex-direction: column;
}

#food-menu>*>* {
    display: block;
    align-self: center;
    flex-grow: 1;
    /* margin: 0.5rem 0em; */
    /* height: 1.5em; */
}

#food-menu button {
    flex-grow: 0;
}

button {
    /* height: 2em; */
    background-color: var(--blue2);
    color: whitesmoke;
    border-width: 0px;
}

.extra {
    font-family: 'Molle', cursive;
    font-size: 2em;
    vertical-align: middle;
    color: var(--purple2);
}

table {
    background-color: var(--purple3);
}

table * {
    padding: .5em;
    text-align: left;
}

th {
    background-color: var(--mint2);
    font-weight: bold;
}

img {
    max-width: 100%;
}

@media (min-width: 701px) {
    #main-nav {
        margin: 0%;
        padding: 0%;
        height: auto !important;
    }
    .last {
        margin-right: .5em;
    }
    .first {
        margin-left: .5em;
    }
}

nav ul {
    list-style-type: none;
    /* position: relative; */
    padding: 0%;
    display: flex;
    /* justify-content: space-between; */
    background-color: var(--pink1);
}

.current {
    background-color: var(--pink2);
}

nav ul li {
    width: 100px;
    text-align: center;
    display: inline-block;
    /* float: left; */
    /* margin: 0%; */
    background-color: var(--purple2);
    padding: 1em 0em;
    flex-grow: 1;
    margin: .5em .25em;
    /* color: var(--yellow2); */
}

nav ul li:hover {
    background-color: var(--purple1);
}

#main-nav a {
    text-decoration: none;
    color: var(--yellow2);
    width: 100%;
    height: 100%;
}

#cart-content {
    display: none;
}

#cart-area {
    position: fixed;
    right: 1em;
    top: 1em;
}

.hamburger {
    display: none;
}

@media (max-width: 700px) {
    body {
        background-position: 10vw 10vh;
    }
    .hamburger {
        /* width: 4em; */
        /* height: 4em; */
        position: fixed;
        top: 0%;
        left: 0%;
        display: inline-block;
        margin: 0em;
        background-color: var(--purple1);
        /* padding: .5em; */
    }
    nav {
        position: fixed;
        background-color: var(--purple2);
        top: 0em;
        left: 0em;
        /* margin: 0em; */
        /* display: none; */
        z-index: 2;
        overflow: hidden;
    }
    nav ul li {
        display: block;
        margin: 0em;
        padding: 1em;
    }
    nav ul {
        flex-direction: column;
        margin: 0em;
        transition: height .75s;
        height: 0px;
    }
}

@media (max-width: 400px) {
    .extra {
        font-size: 1em;
    }
}